#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#          http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

name: "Test the HuggingFace Code Review"

on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "LICENSE"

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: "Get diff of the pull request"
        id: get_diff
        shell: bash
        env:
          DEFAULT_BRANCH: "${{ github.event.repository.default_branch }}"
          PULL_REQUEST_HEAD_REF: "${{ github.event.pull_request.head.ref }}"
        run: |-
          # Fetch the default branch
          git fetch origin "${{ env.DEFAULT_BRANCH }}"
          # Include only source code files for the diff
          git diff "origin/${{ env.DEFAULT_BRANCH }}" > pr.diff
      - uses: ./
        name: "HuggingFace Code Review"
        id: hf_review
        with:
          huggingFaceHubApiToken: ${{ secrets.HUGGINGFACEHUB_API_TOKEN }}
          ghToken: ${{ secrets.GH_TOKEN }}
          githubRepository: ${{ github.repository }}
          githubPullRequestNumber: ${{ github.event.pull_request.number }}
          gitCommitHash: ${{ github.event.pull_request.head.sha }}
          repoId: "mistralai/Mistral-7B-Instruct-v0.1"
          temperature: "0.1"
          maxNewTokens: "250"
          topK: "10"
          topP: "0.95"
          pullRequestDiff: "./pr.diff"
          pullRequestChunkSize: "3500"
          logLevel: "DEBUG"
